
:root {
    --main-color : #DD2F6E;
    --color-dard: #1D2231;
    --text-grey: #8390A2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.sidebar{
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #DD2F6E;
    z-index: 100%;
    transition: width 300ms;
}


.siderbar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 1.5rem;
    color: #fff;
}
.siderbar-brand span {
    display: inline-block;
    padding-right: 0rem;
}
.sidebar-menu{
    margin-top: 1rem;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 2rem;
}
.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.2rem;
}
.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}
#nav-toggle:checked + .sidebar{
    width: 80px;
}

#nav-toggle:checked + .sidebar .siderbar-brand,
#nav-toggle:checked + .sidebar li {
    padding-left: 1rem;
    text-align: center;
}
#nav-toggle:checked + .sidebar li a{
    padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .siderbar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
    display: none;
}
.sidebar-menu a.active{
    background: #fff;
    padding-top:1rem;
    padding-bottom: 1rem;
    color:  #DD2F6E;
    border-radius: 30px 0px 0px 30px;
}
#nav-toggle:checked ~ .main-content{
    margin-left: 78px;
}
#nav-toggle:checked ~ .main-content header{
   width: calc(100% - 78px);
   left: 78px;
}
.main-content{
    transition: margin-left 300ms;
    margin-left: 300px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 300px;
    width: calc(100% - 300px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}

#nav-toggle{
    display: none;
}

header h2{
    color: #222;
}
header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}
.user-wrapper{
    display: flex;
    align-items: center;
}
user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}
/* .user-wrapper h4{
    margin-bottom: ;
} */
.user-wrapper small{
    display:inline-block;
    color:grey;
    margin-top: -10px;
}
main{
    margin-top: 10px;
    padding: 2rem 1.5rem;
    /* background: #f1f5f9; */
    min-height: calc(100vh - 90px);
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0rem;
    margin-top: 15px;
    display: inline-flexbox;
    margin-left: 0px;
    margin-right: 200px;
    width: 1000px;
    
}

.card-single{
    display: flex;
    justify-content: space-between;
    /* background: #fff; */
    padding: 1rem;
    border-radius: 1px;
    width: 200px;
    font-size: 1rem;
    margin-right: 30px;
}

.card-single div:last-child span{
    font-size: 2rem;
    color: #DD2F6E;
}
.card-single div:first-child span{
    color: grey;
}
.card-single:last-child{
    background: #DD2F6E;
}
.card-single:first-child{
    background: #0cc9bf;
}

.card-single:first-child h2,
.card-single:first-child div:first-child span,
.card-single:first-child div:last-child span{
    color: #fff;
}
.card-single:last-child h2,
.card-single:last-child div:last-child span,
.card-single:last-child div:first-child span{
    
    color: #fff;
}

.main-cards{
    margin-right: 20px;
}

