.navbar-dark{
    color: white;
    padding: 4px;
    margin-bottom: 10px;
    text-align: justify;
    margin-top: 10px;
}
.container{
    margin-top: 20px;
    width: 1080px;
    margin-left: 0px;
}
.form-control{
    width: 120px;
}
.form-select{
    width: 150px;
}

.status{
    margin-right: 80px;
}

.tbody{
    padding: 1px;
}
